/* reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
ul {
    list-style: none;
}
a {
    text-decoration: none;
    color: var(--color-scondary);
}


/* general */
:root {
	--color-scondary: #ffffff;
	--color-primary: #23272a;
	--color-header-bg: #265DE8;
	--color-section-bg: #f6f6f6;
	--color-contrast: #7189DA;
}
body {
    font-family: 'Noto Sans', sans-serif;
    background-color: var(--color-scondary);
    color: var(--color-primary);
}
.button {
    display: inline-block;
    border-radius: 28px;
    font-size: 20px;
    padding: 12px 24px;
    margin: 10px;
    cursor: pointer;
}
.small-button {
    display: inline-block;
    border-radius: 28px;
    padding: 6px 12px;
    cursor: pointer;
}
.button-white {
    background-color: var(--color-scondary);
    color: var(--color-primary);
}
.button-black {
    background-color: var(--color-primary);
    color: var(--color-scondary);
}
.button-contrast {
    background-color: var(--color-contrast);
    color: var(--color-scondary);
}

/* header */
header {
    background-color: var(--color-header-bg);
    color: var(--color-scondary);    
    padding-top: 10px;
}
#jumbotron {
    background-image: url(../img/jumbo.png);
    background-size: cover;
    background-position: center;
    min-height: 500px;
}

/* main */
main>section {
 padding: 75px 0 50px 0;
}
.section-bg {
    background-color: var(--color-section-bg);
}
.left {
    width: 60%;
}
.left img, .big {
    width: 100%;
}
.right {
    width: 40%;
}
.stars {
    background-image: url(../img/stars.svg);
    background-size: contain;
    background-repeat: no-repeat;
}

/* footer */
footer {
    background-color: var(--color-primary);
    color: var(--color-scondary);
}
footer .bottom {
    border-top: 1px solid var(--color-contrast);
}

/* utility */
.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 10px;
}
.small-container {
    max-width: 800px;
    margin: 0 auto;
    text-align: center;
}
.paddleft-40 {
    padding-left: 40px;
}
.paddbot-30 {
    padding-bottom: 30px;
}
.paddbot-5 {
    padding-bottom: 5px;
}
.padd-text {
    padding: 30px 0 0 30px;
}
.paddtop-text {
    padding-top: 30px;
}
.paddmargin-stars {
    padding-top: 45px;
    margin-top: -100px;
}

/* text utility */
.text-center {
    text-align: center;
}
.fontsize-45 {
    font-size: 45px;
}
.fontsize-30 {
    font-size: 30px;
}
.fontsize-19 {
    font-size: 19px;
}
.lineh-30 {
    line-height: 30px;
}

/* flex utility */
.d-flex {
    display: flex;
}
.column {
    flex-direction: column;
}
.row-reverse {
    flex-direction: row-reverse;
}
.space-between {
    justify-content: space-between;
}
.justify-center {
    justify-content: center;
}
.alignitems-center {
    align-items: center;
    align-content: center;
}